@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.top_bar {
  color: grey;
  font-size: 0.68rem;
}

.top_bar .icon-small {
  font-size: 1.2em;
}

.top_bar .chart {
  font-size: 1.5em;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #3a3a3a;
  text-decoration: none;
}

ul {
  list-style: none;
  color: inherit;
}

form {
  font-weight: 400;
}

.cart_price {
  font-size: 0.8rem;
  font-weight: 300;
}

.main_nav {
  font-size: 0.7rem;
  font-weight: 500;
}

.btn {
  font-size: 1.3rem;
  padding: 0.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #f3f3f3;
}

.close-btn {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  visibility: hidden;
  -webkit-transition: 0.25s ease visibility;
  transition: 0.25s ease visibility;
  color: #3a3a3a;
}

#mobile-search,
#mobile-search-close {
  display: none;
}

.top_nav_times-btn {
  color: #3a3a3a;
  background: #f3f3f3;
  font-weight: 300;
}

form button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
}

.paddle {
  display: none;
  position: absolute;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1.5em;
  height: 100%;
  font-size: 1rem;
  background: white;
  border-radius: 3px;
  border: 1px solid #f1eeee;
  outline: none;
}

@media screen and (max-width: 940px) {
  .paddle {
    display: block;
  }
}

@media screen and (max-width: 769px) {
  .paddle {
    display: none;
  }
}

form {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.4rem 0.5rem;
}

form > * {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #f3f3f3;
}

form input[type="search"] {
  width: 100%;
  padding: 0.4rem;
  border: none;
  outline: none;
}

@media only screen and (max-width: 481px) {
  form {
    display: none;
  }
}

.main_nav .container {
  padding: 0.2rem 0 1.5rem 0;
  position: relative;
}

.main_nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.main_nav .container ul li {
  padding: 0 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_nav .container ul li + li {
  padding-left: 0.5rem;
}

.main_nav .container ul li:last-child {
  border-left: 1px solid #eeeeee;
}

.main_nav .container ul li a {
  padding-bottom: 5px;
}

.main_nav .container ul li a:hover {
  border-bottom: 2px solid #3a3a3a;
}

.main_nav .container ul::-webkit-scrollbar {
  display: none;
}

.top_bar {
  width: 100%;
  background-color: #f3f3f3;
}

.top_bar .container {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.top_bar .container .top_bar_block a:hover {
  color: #3a3a3a;
}

.top_bar .container .block-last {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_bar .container .block-last div + div {
  margin-left: 1rem;
}

.top_bar .png {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
}

.top_bar .de-svg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.top_bar a {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_bar .ts_ratings-stars {
  color: #f4c20d;
}

.top_bar .top_bar_block-2 {
  position: relative;
}

.top_bar .top_bar_block-2 ul {
  list-style: none;
  position: absolute;
  top: 1.7rem;
  right: 0;
  padding: 0.7rem;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 100;
}

.top_bar .top_bar_block-2 ul li {
  padding: 0.2rem;
  color: #3a3a3a;
  font-size: 1.05em;
  font-weight: 400;
}

.top_bar .top_bar_block-2 ul li:hover {
  background: #f3f3f3;
}

@media only screen and (max-width: 769px) {
  .top_bar {
    display: none;
  }
}

.top_nav {
  margin-top: 0.5rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.top_nav .logo {
  height: 100%;
  width: auto;
}

.top_nav .logo .logo-img {
  max-height: 45px;
  max-width: 45px;
}

.top_nav .top_nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.top_nav .top_nav_ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  height: 100%;
}

.top_nav .top_nav_ul .top_nav-search {
  background: #f3f3f3;
  margin: 0;
  margin-left: 1.3rem;
  padding: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.top_nav .top_nav_ul li + li {
  margin-left: 1rem;
}

.top_nav .top_nav_ul .cart {
  width: auto;
}

.top_nav .top_nav_ul .cart .cart_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_nav .top_nav_ul .menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .cart_price {
    display: none !important;
  }
}

@media only screen and (max-width: 769px) {
  .top_nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top_nav_ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .top_nav_ul .top_nav-search {
    -ms-flex-preferred-size: 40% !important;
        flex-basis: 40% !important;
  }
  .top_nav_ul li + li {
    margin-left: 0.2rem !important;
  }
  .menu {
    display: block !important;
  }
}

@media only screen and (max-width: 481px) {
  #mobile-search {
    display: block;
  }
  #form-li {
    display: none;
    position: absolute;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0 auto;
    top: 3rem;
    left: 0;
    right: 0;
    width: 100%;
  }
}

header {
  width: 100%;
}

.top_bar,
.top_nav,
.main_nav {
  padding: 3px 0;
  width: 100%;
}

.container,
form,
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  padding: 0 1rem;
}

a {
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */